body{
    min-height:100vh;
    background: linear-gradient(135deg, rgb(25, 36, 94), rgb(6, 14, 44), rgb(6, 14, 44), rgb(25, 36, 94));
}
#project1_docs_header{
    margin-top:50px;
    text-align: center;
    color:rgb(253, 247, 249);
    text-decoration: underline;
    font-size:2.5rem;
    margin-bottom:5%;
}
#project1_docs_div{
    height:70%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:8%;
}

.tabs{
    box-sizing: border-box;
    background-color: rgb(168, 241, 255);
    height:300px;
    width:300px;
    padding:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    border:3px rgb(119, 244, 255) solid;
    border-radius:10%;
    position:relative;
    transition: transform 0.3s ease;
    z-index: 0;
    font-size: 1.4rem;
    font-weight:200;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:20px;
    

}

/* Background images */
#github_tab {
    background-image: url(images/github_repo_bgd.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#report_file_tab{
    background-image: url(images/report_file_bgd.jpg); /* Add your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#prototype_tab {
    background-image: url(images/prototype_bgd.jpg); /* Add your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Black overlay */
.tabs::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.677);
    border-radius: inherit;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

/* Text styling */
.tabs p {
    position: relative;
    color: white;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    padding: 20px;
}

/* Show overlay and text on hover */
.tabs:hover::before {
    opacity: 1;
}
.tabs:hover p {
    opacity: 1;
}

.file_links{
    text-decoration: none;
}

@media (max-width:1100px){
    #project1_docs_div{
        gap:5%;
        padding:50px;
        height:80%;
    }
}

@media (max-width:920px){
    #project1_docs_div{
        flex-direction: column;
        gap:5%;
        padding:30px;
        height:80%;
    }
    .tabs{
        height:300px;
        width:300px;
    }
}
@media (max-width:560px){
    #project1_docs_div{
        height:80%;
    }

    #project1_docs_header{
        font-size:2rem;
        margin-top: 20px;
    }
    .tabs{
        height:250px;
        width:250px;
        box-sizing: border-box;
    }
}

@media (max-width:400px){

    .tabs{
        height:200px;
        width:200px;
    }
}